html{
    scroll-behavior: smooth;
}
#nav-bar {
    width: 100%;
    height: 3vw;
    display: flex;
    justify-content: space-around;
    padding-top: 1vw;
    font-family: sans-serif;
    position: fixed;
    background-color: white;
    z-index: 10;
}
.leftnav{
    font-style: oblique;
    font-weight: bold;
}
.leftnav img{
    width: 1.5vw;
    height: 1.5vw;
}

.midnav a {
    padding-right: 2vw;
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.midnav a:hover{
    color:green;
}

.right-nav a {
    padding-right: 1vw;
    text-decoration: none;
    color: black;
    font-weight: bolder;
}
.right-nav button{
    border: 2px solid green;
    background-color: green;
    width: 5vw;
    font-size: 1vw;
    height: 1 vw;
    color: white;
    border-radius: 25px;
    box-shadow: 2px 2px 2px grey;
    transition-duration: 0.5s;
    
}
.right-nav button:hover{
    font-size: 1vw;
    background-color: black;
}

#nav table {
    width: 100%;
    text-align: center;
    background-color: transparent;
    
}

#nav a{
    text-decoration: none;
    color: black;
}
#nav a:hover{
    color: rgb(42, 112, 135);
}
body {
    margin: 0;
    font-family: sans-serif;
}

#main {
    background-image: url("images/pexels-johannes-plenio-1103970.jpg");
    color: rgb(53, 53, 53);
    font-weight: 700;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    opacity: 0.8;
    padding-top: 5vw;
}

#head {
    margin-top: 15%;
    text-align: center;
    font-size: 3rem;
}

#head_desc {
    margin-top: 3%;
    text-align: center;
    padding-right: 20%;
    padding-left: 20%;
    padding-bottom: 20%;
    font-size: 1.5rem;
}

#nav table {
    font-size: large;
    padding-top: 1%;
}
#our_team{
    margin-top: 10vh;
}
#our_team img {
    float: left;
    margin-left: 20%;
    width: 15%;
    height: 15%;
    border-radius: 50%;
}

#span {
    float: right;
    margin-right: 20%;
    width: 40%;
    font-size: 1.5rem;
}

#brands {
    margin-top: 30%;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(190, 205, 215);
    margin-bottom: 10%;
    width: 100%;
    flex-wrap: wrap;
}


#brands img {
    height: 11vw;
    width: 11vw;
    padding: 2% 5% 2% 5%;
}

#brands h3 {
    color: white;
    width: 100%;
    font-size: 3rem;
    text-align: center;
    text-shadow: 5px black;
}

#investors {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5%;
    width: 100%;
    flex-wrap: wrap;
    margin-top: -10%;
}

#investors span {
    color: lightblue;
}

#brands span {
    color: black;
}

#investors h3 {
    width: 100%;
    font-size: 3rem;
    text-align: center;
    text-shadow: 5px black;
}

#investors img {
    height: 145px;
    width: 145px;
    padding: 2% 5% 2% 5%;
}
#investors span{
    color:lightblue;
}

#locations h3 {
    width: 100%;
    font-size: 3rem;
    text-align: center;
    text-shadow: 5px black;
}

#locations {
    background-color: rgb(190, 205, 215);
    padding: 2%;

}
#locations span{
    color:white;
}

#locations div {
    display: flex;
    width: 100%;
    justify-content: center;
}

#locations img {
    width: 150px;
    height: 150px;
}

#hq {
    font-size: 2rem;
}

#address {
    font-size: 1.5rem;
}

#locations ul {
    padding-left: 10%;
}

#contact img {
    width: 45%;
    height: 45%;
}

#contact table {
    text-align: center;
}

#contact {
    position: absolute;
    margin-left: 20%;
}

.feedback-form {
    position: absolute;
    margin-left: 60%;
    padding-top: 3%;
}

#contact-table td {
    padding: 2% 7%;
    font-size: 1.1rem;
}

#contact_us {
    padding-top: 5%;

}

#contact_head {
    font-size: 1.8rem;
    padding-bottom: 5%;
}

.feedback-form input,
textarea {
    text-decoration: none;
    border: none;
    border-bottom: 2px solid grey;
    width: 80%;
    padding-top: 3%;
    margin-bottom: 10%;
    padding-bottom: 1%;
    outline: none;
    text-align: center;
    font-size: 1.1rem;
}

.feedback-form input::placeholder,
textarea::placeholder {
    color: black;
    text-align: center;
    font-size: 1.1rem;

}

.feedback-form button {
    margin-left: 25%;
    padding: 1.5% 4.5%;
    font-size: larger;
    background-color: rgb(190, 205, 215);
    color: white;
    border-radius: 0px;
    transition: 0.3s;
}

.feedback-form button:hover {
    border-radius: 25px;
    background-color: white;
    color: black;
}

#span span{
    color:rgb(128, 173, 188);
}