@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Square+Peg&display=swap');
#main{
    display: flex;
    margin-left: 20%;
    justify-content: center;
    margin-top: 150px;   
    border: 3px solid grey; 
    width:800px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
}

#left{
    /* float: left; */
    width: 400px;
    height: 500px;

}
#left p{
    font-size: 40px;
}
#left img{
    width: 20px;
    height: 20px;
    padding: 0px 10px 0px 10px;
}
form{
    text-align: center;
    align-items: center;
}
#right{
    /* float: right; */
    height: 500px;
    width: 400px;
    background-image: url("images/waves.jpeg");
    background-size: cover;
    opacity: 0.5;
}
input{
    border-style: none;
    border-bottom: 1px solid grey;
}
input,button{
    margin:15px;
}
p{
    font-size: 20px;
}
body{
    font-family: sans-serif;
}
button{
    width: 150px;
    height: 40px;
}

#right{
text-align: center;
}
#heading{
    margin-top: 100px;
    font-size: 40px;
    color: blueviolet;
    font-weight: 800;
    text-shadow: 1px 1px black;
}
#store{
    margin-top:-30px;
    color: blueviolet;
}
#sale{
    font-size: 50px;
    font-family: 'Caveat', cursive;
    color: rgb(62,0,117);
    font-weight: 900;
    text-shadow: 1.5px 1.5px black;
}
form a{
    text-decoration: none;
    color: rgba(0, 0, 255, 0.596);
}

#main:hover{
    box-shadow:0px 0px 5px 5px rgba(0, 255, 255, 0.262);
    transition-duration: 1s;
 }
#email{
    padding-top: 30px;
}
button{
    background-color: rgba(43, 150, 226, 0.477);
    color: white;
    letter-spacing: 1px;
    font-size: 20px;
    text-decoration: none;
    border-color: white;
    border-radius: 10px;
}